/* Bootstrap default overrides */
.custom-navbar {
    background: #030303;
    border: 0;
}
.navbar-brand {
    font-size: 20px;
}

/* Global */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local("Segoe UI Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
body {
    font-family: "system";
    margin-top: 50px;
    background-color: #030303;
    overflow-x:hidden;
}

/* About */
.about {
    background: url("../img/IMG_4641.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left;
    background-color: #030303;
    margin-top: 50px;
    color: #fbfbfb;
}
.about h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: -2px 0 3px rgba(3, 3, 3, 0.4), 0 2px 3px rgba(3, 3, 3, 0.4), 1px 0 3px rgba(3, 3, 3, 0.4), 0 -1px 3px rgba(3, 3, 3, 0.4);
}
.about p {
    text-shadow: -1px 0 3px rgba(3, 3, 3, 0.6), 0 1px 3px rgba(3, 3, 3, 0.6), 1px 0 3px rgba(3, 3, 3, 0.6), 0 -1px 3px rgba(3, 3, 3, 0.6);
}
.about-right {
    margin-top: 30px;
}
.about-right p {
    max-width: 640px;
}
.about-btn-1,
.about-btn-2,
.about-btn-3 {
    margin: 0 10px 10px 0;
    width: 170px;
}

/* info */
.info {
    background: #fbfbfb;
}
.info .row {
    padding-bottom: 20px;
}
.info-info {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Team */
.team {
    background-color: #f1f1f1;
}
.team h2 {
    text-align: center;
    margin-top: 30px;
}
.avatar-container {
    margin: 30px auto;
    max-width: 970px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar {
    text-align: center;
    margin: 20px;
}
.avatar img {
    max-width: 200px;
    border-radius: 50%;
}
.avatar-link {
    margin: 0 5px;
}
hr {
    border-color: #D9D9D9;
}

/* Partners */
.partners {
    background-color: #fbfbfb;
}
.partners h2 {
    text-align: center;
    margin-top: 30px;
}
.partner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partners-logo {
    margin: 30px;
}
.partners-logo img {
    max-width: 300px;
}

/* Footer */
footer {
    background-color: #fbfbfb;
    color: #777;
}

.footer-info-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-contact {
    margin: 30px;
}
.footer-fineprint {
    text-align: center;
}
footer i {
    margin-right: 5px;
}

/* Links */
.team a:link,
footer a:link,
.team a:visited,
footer a:visited {
    color: #838383;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.team a:hover,
footer a:hover,
.team a:active,
footer a:active {
    color: #01a0fb;
    text-decoration: none;
    text-shadow: none;
    border: none;
    cursor: pointer;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .about {
        padding-top: 10%;
        height: 500px;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .about {
        padding-top: 7%;
    }
    .about-right p {
        max-width: 670px;
    }
}
