/* Bootstrap default overrides */
.custom-navbar {
    background: #030303;
    border: 0;
}
.navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

/* Global */
body {
    margin-top: 50px;
    background-color: #030303;
    overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Header */

/* About */
#about {
    background: url("../img/IMG_4641.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    background-color: #030303;
    margin-top: 50px;
    color: #fbfbfb;
}
#about h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.about-right {
    margin-top: 30px;
}

/* info */
#info {
    background: #fbfbfb;
}
#info .row {
    padding-bottom: 20px;
}
.info-info {
    margin-bottom: 30px;
}

/* Works */
#works {
    background: #fbfbfb;
}
#works .row {
    padding-bottom: 20px;
}
.works-info, .works-left, .works-right {
    margin-top: 30px;
}

/* Team */
#team {
    background-color: #f1f1f1;
}
#team h2 {
    text-align: center;
    margin-top: 30px;
}
.avatar-container {
    margin: 30px auto;
    max-width: 970px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar {
    margin: 20px;
}
.avatar img {
    max-width: 200px;
    border-radius: 50%;
}
.avatar-overlay {
    text-align: center;
}
.avatar-link {
    margin: 0 5px;
}

/* Partners */
#partners {
    background-color: #fbfbfb;
}
#partners h2 {
    text-align: center;
    margin-top: 30px;
}
.partner-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partners {
    margin: 30px;
}
.partners img {
    max-width: 300px;
}

/* Footer */
footer {
    background-color: #fbfbfb;
    color: #777;
}
footer hr {

}
.footer-info-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-contact {
    margin: 30px;
}
.footer-fineprint {
    text-align: center;
}
footer i {
    margin-right: 5px;
}

/* Links */
#team a:link,
footer a:link,
#team a:visited,
footer a:visited {
    color: #777;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
#team a:hover,
footer a:hover,
#team a:active,
footer a:active {
    color: #01a0fb;
    text-decoration: none;
    text-shadow: none;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #about {
        padding-top: 10%;
        height: 500px;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
