// main: ../index.scss
// =========================================================================
// about
// =========================================================================

@import 'variables.scss';

.about {
    // basic styles to keep sections consistent
    min-height: 100vh;
    margin-top: 80px;
    padding-bottom: 50px;

    // basic about content ===>
    .about-basic {
        display: flex;
        position: relative;
        padding-bottom: 50px;
    .about-info {
        padding: 50px 50px 50px 0px;
        justify-content: space-between;
        p {
            margin-top: 20px;
            margin-bottom: 0;
            @media only screen and (min-width: 992px) {
                max-width: 440px;
            }
        }
    }
    .about-img {
        margin-left: 30px;
        max-width: 700px;
        display: none;
        flex-direction: column;
        justify-content: center;
        img {
            filter: grayscale(100%);
            width: 100%;
        }
        @media only screen and (min-width: 992px) {
            display: flex;
            flex-direction:column;
            height: inherit;
        }
    }
    }
    // switch-icons ===>
    .switch-icons {
        overflow: hidden;
        width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        font-family: $font-h3;
        // font-size: 26px;
        line-height: 250px;
        a:last-child {
            .switch-icon {
                margin-right: 0;
            }
        }
    }
    .switch-icon {
        float: left;
        width: 30%;
        margin-right: 5%;
        height: 30%;
        background-color: $main-2;
        background-position: center;
        background-size: cover;
        text-align: center;
        cursor: pointer;
        transition:.5s ease;
        h6 {
            &:hover {
                transform: scale(1.4);
                opacity: 1;
            }
        }

    } // <=== switch-icon
    .switch-dots {
        list-style: none;
        display: block;
        text-align: center;
        margin-bottom: 50px;
        a {
            display: inline-block;
            text-decoration: none;
            margin: 0 10px;
            font-size: 26px;
            color: $accent-1;
        }
    }

    .fade-enter {
        opacity: 0;
        right: 100px;
    }
    .fade-enter-active {
        opacity: 1;
        transition: .5s ease-in all;
    }



    // what ===>
    .what-content {
        min-height: 700px;
        padding: 20px 0;

    } // <=== what

    // who ===>
    .who-content {
        min-height: 700px;
        padding: 20px 0;

    }
    .team-container {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
    }
    .team-member {
        position: relative;
        height: 200px;
        width: 200px;
        background-color: #ccc;
        transition: .5s ease;
        h5 {
            color:$accent-1;
        }
        &:hover {
            filter: grayscale(20%);
        }
        img {
            width:100%;
            filter: grayscale(90%);
        }
        .team-text {
            position: absolute;
            color: $main-3;
            width: 100%;
            text-align:center;
            padding: 40px 0px;
            top:60%;
            left:50%;
            transition: .5s ease;
            transform: translate(-50%, -50%);
            &:hover {
                opacity: 0;
            }
        }
    }
    .who-text {
        display: block;
        margin-top: 100px;

    } // <=== who

    // projects ===>
    .projects-content {
        min-height: 700px;
        padding: 20px 0px;
        a{
            text-decoration:none;
            &:hover{
            text-decoration: underline $accent-1;
            }
        }
        .projects-icons {
            margin: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
                @media only screen and (max-width: 992px) {
                display: flex;
                //flex-direction:column;
                flex:1;
                justify-content: center;
                }
        }

        .projects-icon {
            position: relative;
            width: 220px;
            display: flex;
            flex-wrap: wrap;
            img {
                width: 220px;
                height:220px;
            }
                .hover-projects {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color:white;
                h5 {
                margin-top: 50px;
                position: absolute;
                text-decoration: none;
                text-align: center;
                color: $main-2;
                }
                &:hover {
                    opacity: 0.8;
            }
        }

        }

    } // <=== projects

    // <=== visio / mission
    .boxes {
        margin-top: 100px;
        text-align: center;
        background-color: $accent-1;
        padding: 30px;
        h3 {
            color:$main-3;
        }
        .visio {
            margin: 40px;
        }
        .missio {
            margin: 40px;
        }
        .methods {
            margin: 40px;
            .method-icons {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .icon-font {
                    margin:0px 20px 0px 20px;
                }
            }
        }
    }
    // tuleeko tämä?
    .latest-articles {
        margin: 100px;
        display: flex;
        flex-wrap: wrap;
    }

} // <=== about end
