// main: ../index.scss
// =========================================================================
// companies
// =========================================================================

@import 'variables.scss';
.companies {
    .container {
        max-width: none;
    }
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 60px;
    position: relative;
    @media (min-width: 768px) {
        padding-bottom: 90px;
    }
    h5 {
        color:$main-1;
    }

    // company boxes styles
    .companies-container {
        margin-top: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;

        .company-icon {
            position: relative;
            width: 100%;
            margin: 5px;
            @media only screen and (min-width: 480px) {
                width: 420px;
            }
            @media only screen and (min-width: 768px) {
                width: 320px;
            }
            @media only screen and (min-width: 992px) {
                width: 420px;
            }
            &:hover .company-overlay {
                opacity: 0.93;
            }
            .company-img, .company-overlay {
                width: 100%;
            @media only screen and (min-width: 480px) {
                width: 450px;
            }
            @media only screen and (min-width: 768px) {
                width: 320px;
            }
            @media only screen and (min-width: 992px) {
                width: 420px;
            }
            }
            .company-overlay {
                position: absolute;
                top: 0;
                bottom: 4px;
                left: 0;
                right: 0;
                opacity: 0;
                transition: .5s ease;
                background-color: $main-1;
                @media (max-width: 768px) {
                    opacity: 1;
                    background-color: rgba($main-2, 0.7);
                }
            }
            .company-text{
                position: absolute;
                width: 100%;
                top: 50%;
                // left: 50%;
                text-align: center;
                transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                h1 {
                    font-size: 25px;
                    color: $accent-2;
                    padding: 5px;
                }
                p {
                    color: $main-3;
                    font-size: 20px;
                    margin: 0;
                    padding: 5px;
                }
            }
        }
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-enter-active {
        opacity: 1;
        transition: .5s ease-in all;
    }
    .arrow {
        @media (max-width: 767px) {
            display: none;
        }
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        a{
            padding: 30px;
            &:hover i {
                text-decoration: none;
                border: solid $accent-2;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 5px;
            }
        }
        i {
            text-decoration: none;
            border: solid $main-2;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 5px;
            transition: 0.5s ease;

        }
    }
}
