// main: ../index.scss
// =========================================================================
// companies
// =========================================================================

@import 'variables.scss';

.companies {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        margin: 0 auto;
        background-color: $main-2;
        width: 100px;
        height: 100px;
        margin: 10px;
        // styles go in here
        img {
          width: 100px;
        }
    }
}
