// main: ../index.scss
// =========================================================================
// contact
// =========================================================================

@import 'variables.scss';

.contact {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        margin: 0 auto;
        // styles go in here
    }
}
