// main: ../index.scss
// =========================================================================
// WIMMA for-you
// =========================================================================

@import 'variables.scss';

.for-you {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/weare.jpg);
    background-size: cover;
    opacity: 0.5;
    .container {
        margin: 0 auto;
        opacity: 0.92;
        background-color: $main-3;
        // styles go in here
    }
}
