// main: ../index.scss
// =========================================================================
// WIMMA for-you
// =========================================================================

@import 'variables.scss';

.for-you {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 40px;
    @media (min-width: 768px) {
        padding-bottom: 90px;
    }
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/weare.jpg);
    background-size: cover;
    opacity: 0.5;
    .container {
        margin: 0 auto;
        opacity: 0.92;
        background-color: $main-3;
        // styles go in here
    }
    .arrow {
        @media (max-width: 767px) {
            display: none;
        }
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        a {
            stroke: $accent-1;
            transition: 0.5s ease;
            &:hover {
                stroke: $accent-2;
            }
        }
    }
}
