// main: ../index.scss
// =========================================================================
// global
// =========================================================================

@import 'variables.scss';

* {
    // do not change
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: $main-2;
    font-family: $font-h1;
    background-color: $main-3;
    overflow-x: hidden;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    // font-family: $font-h2;
    // font-size: 100px;
}
