// main: ../index.scss
// =========================================================================
// landing
// =========================================================================

@import 'variables.scss';

.landing {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    background-image: url("../img/landingimg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: inherit;
    @media (min-width: 1024px) {
        background-attachment: fixed;
        // animation: zoomin 20s 1;
    }
    @keyframes zoomin {
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    .container {
        // z-index: 1;
        margin: 0 auto;
        text-align: center;
    }
    .arrow {
        @media (max-width: 767px) {
            display: none;
        }
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        a{
            padding: 30px;
            &:hover i {
                text-decoration: none;
                border: solid $accent-2;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                border-width: 0 4px 4px 0;
                display: inline-block;
                padding: 5px;
            }
        }
        i {
            text-decoration: none;
            border: solid $main-3;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 5px;
            transition: 0.5s ease;
        }
    }
}
