// main: ../index.scss
// =========================================================================
// landing
// =========================================================================

@import 'variables.scss';

.landing {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/landingimg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    .container {
        margin: 0 auto;
        // styles go in here
    }
}
