// main: ../index.scss
// =========================================================================
// landing
// =========================================================================

@import 'variables.scss';

.landing {
    // basic styles to keep sections consistent
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/landingimg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    .container {
        margin: 0 auto;
    }
    .arrow-down {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        a {
            stroke: $accent-1;
            transition: 0.5s ease;
            &:hover {
                stroke: $accent-2;
            }
        }
    }
}
