// main: ../index.scss
// =========================================================================
// about > projects
// =========================================================================

.projects-content {
    min-height: 700px;
    padding: 20px 0px;
    // display: flex;
    a{
        text-decoration:none;
        &:hover{

        }
    }
    .projects {
        h3 {
            text-align: center;
        }
        margin-bottom: 30px;
    }
    .project {
    overflow: hidden;
    min-height: 100px;
    max-width: 400px;
    box-shadow: 1px 2px 5px $main-1;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 5px;
        .icon {
            max-height: 90px;
            overflow: hidden;
            padding: 15px;
            border-bottom: 1px solid $accent-1;
        }
        img {
            margin: 0 auto;
            display: block;
            max-height: 60px;
        }
        .projects-text {
            padding: 15px;
            p {
                margin: 0;
                font-family: $font-p-alt;
                font-size: 1em;
            }
        }
    }

    @media (min-width: 480px) {
        .project {
            img {
                margin: 0;
            }
        }
    }
    @media (min-width: 992px) {
        .projects-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .projects {
            width: 420px;
            // float: left;
        }
    }
}
