// main: ../index.scss
// =========================================================================
// about > projects
// =========================================================================

.projects-content {
    min-height: 700px;
    padding: 20px 0px;
    @media only screen and (max-width: 992px) {
        padding: 0px;
    }
    a{
        text-decoration:none;
        &:hover{
            text-decoration: underline $accent-1;
        }
    }
    .projects-icons {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: initial;
    }
    .projects-icon {
        opacity: 0.5;
        background-color: $accent-1;
        padding: 20px;
        margin: 20px;
        position: relative;
        width: 150px;
        height:150px;
        img {
            margin-right: 30px;
            height: 100%;
            width: 100%;
            &:hover {
            }
            @media only screen and (max-width: 992px){
                width:80%;
                height:80%;
            }
        }
        .hover-projects {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color:$accent-2;
            h5 {
                position: absolute;
                text-decoration: none;
                text-align: center;
                color: $main-2;
                opacity: 1;
                font-size: 90%;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
