// main: ../index.scss
// =========================================================================
// variables
// =========================================================================

$main-1: #575756;
$main-2: #171a1f;
$main-3: #fefffa;
$accent-1: #a5e0df;
$accent-2: #fc8f97;
$font-h1: 'GothicB', sans-serif;
$font-h2: 'BaskVill', serif;
$font-h3: 'Gothic', sans-serif;
$font-p: 'BaskVill', serif;
