// main: ../index.scss
// =========================================================================
// variables
// =========================================================================
$main-1: #575756;
$main-2: #171a1f;
$main-3: #fefffa;
$accent-1: #a5e0df;
$accent-2: #fc8f97;
$font-h1: 'GothicB', sans-serif;
$font-h2: 'Gothic', sans-serif;
$font-h3: 'BaskVill', serif;
$font-p: 'BaskVill', serif;
$font-awe: 'FontAwesome', serif;

h1{
  font-size: 60px;
  color: $accent-2;
}

h2 {
  font-family: $font-h2;
  font-size: 60px;
  margin-bottom: 50px;
  padding: 40px 0;
  box-shadow: 0px -5px 0px $accent-1 inset;
  color: $main-1;
  display: inline-block;
}

h3 {
    font-family: $font-h3;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
  font-family: $font-p;
  font-size: 22px;
  margin-bottom: 30px;
}

.fa {
  font-family: "FontAwesome";
}
