// main: ../index.scss
// =========================================================================
// about > what
// =========================================================================

.what-content {
    min-height: 700px;
    padding: 20px 0;
    h3 {
        color: $main-3;
    }
    p {
        color: $main-3;
    }
    // vision / mission
    .boxes {
        min-width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        border: 5px solid $main-3;
        padding: 2px;
        @media (min-width: 480px) {
            padding:30px;
        }
        h3 {
            color:$accent-1;
        }
        .icon-font {
            color: $accent-1;
            font-size: 70px;

        }
        .visio {
            margin: 40px;
        }
        .missio {
            margin: 40px;
        }
        .methods{
            margin: 60px;
            color: $main-3;
            .method-icons, h5 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-left: 10px;
                margin-right: 10px;
            }
            .method-icon {
                width: 180px;
            }
        }
    }
}
