// main: ../index.scss
// =========================================================================
// about > what
// =========================================================================

.what-content {
    min-height: 700px;
    padding: 20px 0;
    li {
        color: $main-1;
    }
    // vision / mission
    .boxes {
        min-width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        background-color: $main-2;
        padding: 30px;
        h3 {
            color:$accent-2;
        }
        .visio {
            margin: 40px;
        }
        .missio {
            margin: 40px;
        }
        .methods{
            margin: 60px;
            color: $main-3;
            .method-icons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}
