// main: ../index.scss
// =========================================================================
// about > who
// =========================================================================

// who ===>
.who-content {
    min-height: 700px;
    padding: 20px 0;
    a {
        text-decoration: none;
    }
}
.team-container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.team-member {
    overflow: hidden;
    width: 270px;
    // box-shadow: 1px 1px 7px $main-1;
    border-radius: 2px;
    margin: 5px;
    background-color: $main-3;
    .team-header {
        height: 270px;
        overflow: hidden;
        img {
            height: 270px;
            display: block;
            filter: grayscale(100%);
        }
    }
.team-text {
    .team-icon {
        cursor: pointer;
        a {
            color: $main-1;
        }
        svg {
            margin-top: 15px;
            transition: .5s ease;
            font-size: 40px;
            margin-bottom: 0px;
            &:hover {
                color: $accent-2;
            }
        }
    }
    h5 {
        margin-top: 18px;
        margin-bottom: 5px;
        text-align: left;
        color: $main-1;
    }
    p {
        color: $main-1;
        margin: 0;
        font-family: $font-p-alt;
        font-size: 15px;
    }

        padding: 15px;
        text-align: left;
    }
}
