<section id="about" class="about">
    <div class="container">
        <div class="about-info">
            <h2>About us</h2>
            <p>WIMMA Lab is a concept based on the challenge centered learning. It is run as 2,5 months long project which students join as trainees for their bachelor degree programme. WIMMA Lab introduces students to different research and development
            challenges. Challenges are presented from companies, research programs and universities. At the start of the project, students form virtual companies. During the project students develop concepts, proof-of-concepts or production ready
            solutions. WIMMA Lab is organized by WIMMA coaches. This year’s challenges come from IT-institute of JAMK University of Applied Sciences, DIMECC Cyber Trust research program and Liiketoimintaa IOT:sta research program.</p>
            <p>
                {{pages.content}}
            </p>
        </div>
        <br />
        <hr/>
        <br />
        <div class="row">
            <!-- << Näitä voi vaikka toista jos on tarvetta -->
            <div class="col-sm-6 col-md-6">
                <div class="about-left">
                    <h3>Unique opportunity to learn</h3>
                    <p>During WIMMA Lab students gain experience on project-based teamwork in work life-like environment. Students are guided to find their own place on a team and together build culture and rules for their team.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="about-right">
                    <h3>We teach to execute  </h3>
                    <p>WIMMA Lab is all about building from idea to execution. Virtual companies are coached to deliver a working demo each sprint. However, the goal is not to build quick and dirty demos, but solutions that are production ready and can stand
                    the test of time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
