<!-- Footer -->
<footer>
    <div class="container">
        <hr />
        <div class="footer-info-holder">
            <div class="footer-contact">
                <h3>Contact</h3>
                <p>marko.rintamaki@jamk.fi</p>
                <p>lauri.makinen@jamk.fi</p>
                <p>40100 Jyväskylä</p>
                <p>Finland</p>
            </div>
            <div class="footer-contact">
                <h3>Find us</h3>
                <div>
                    <a href="https://github.com/wimmalab" target="_blank"><i class="fa fa-github fa-3x"></i></a>
                    <a href="https://www.linkedin.com/company-beta/22308846/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                    <a href="https://www.facebook.com/wimmalab/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
                    <a href="https://twitter.com/wimmalab" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                    <a href="https://www.instagram.com/wimmalab/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
                    <a href="https://www.youtube.com/channel/UCe0Ssog7DURm_aTiPO2hUFw" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="footer-fineprint">
            <p>© Cyber Trust @ JAMK 2017. All rights reserved.</p>
        </div>
    </div>
</footer>
