<!-- Landing -->
<section id="landing" class="landing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-4 col-lg-7 col-lg-offset-5">
                <div class="landing-info">
                    <h1>Welcome to WIMMA Lab</h1>
                    <p class="lead">The project is ending 26.7. Come and see students and projects before it's too late!</p>
                </div>
                <br>
                <!--<a class="btn btn-primary landing-btn-1" href="https://github.com/wimmalab/welcome/blob/master/Welcome.md" target="_blank">OPEN DOORS DAY</a>-->
                <a class="btn btn-primary landing-btn-2" href="https://github.com/wimmalab/welcome/blob/master/sponsoreille.md" target="_blank">For potential sponsors</a>
                <a class="btn btn-primary landing-btn-3" href="http://n4sjamk.github.io/" target="_blank">Old Challenge Factory</a>
            </div>
        </div>
    </div>
</section>
