<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">WIMMA Lab</a>
            <div class="nav-icons">
                <a href="https://github.com/wimmalab" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                <a href="https://twitter.com/wimmalab" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.linkedin.com/company-beta/22308846/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li><a class="page-scroll" href="#about">About</a></li>
                <li><a class="page-scroll" href="#team">Team</a></li>
                <li><a class="page-scroll" href="#partners">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
