<!DOCTYPE html>
<html>
    <head>
        <meta property="og:image" content="http://wimmalab.github.io/img/IMG_4641.jpg">
        <meta property="og:image:secure_url" content="https://wimmalab.github.io/img/IMG_4641.jpg">
        <meta property="og:image:width" content="900">
        <meta property="og:image:height" content="400">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <meta property="og:title" content="WIMMA Lab" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="WIMMA Lab is a concept based on the challenge centered learning. It is run as 2,5 months long project which students join as trainees for their bachelor degree programme. WIMMA Lab introduces students to different research and development challenges." />
        <meta name="description" content="WIMMA Lab is a concept based on the challenge centered learning. It is run as 2,5 months long project which students join as trainees for their bachelor degree programme. WIMMA Lab introduces students to different research and development challenges."/>
        <title>WIMMA Lab</title>
        <!-- Links -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{site.baseurl}}/styles/font-awesome.min.css">
        <link rel="stylesheet" href="{{site.baseurl}}/styles/main.min.css" />
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script>
            window.sr = ScrollReveal();
        </script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">

        {% include nav.html %}
        {% include landing.html %}
        {{ content }}
        {% include about.html %}
        {% include team.html %}
        {% include partners.html %}
        {% include footer.html %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>
        <script src="{{site.baseurl}}/js/reveal.js"></script>
        <script src="{{site.baseurl}}/js/scroll.js"></script>
    </body>
</html>
